*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/FileExplorer/build
/captures
.externalNativeBuild
FileExplorer/build/generated/assets/
FileExplorer/build/generated/res/
FileExplorer/build/generated/source/aidl/
FileExplorer/build/generated/source/apt/
FileExplorer/build/generated/source/rs/
FileExplorer/build/intermediates/annotations/
FileExplorer/build/intermediates/bundles/debug/aidl/
FileExplorer/build/intermediates/bundles/debug/assets/
FileExplorer/build/intermediates/bundles/release/aidl/
FileExplorer/build/intermediates/bundles/release/assets/
FileExplorer/build/intermediates/bundles/release/jni/
FileExplorer/build/intermediates/bundles/release/libs/
FileExplorer/build/intermediates/dependency-cache/
FileExplorer/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/aidl/
FileExplorer/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/assets/
FileExplorer/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/jni/
FileExplorer/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/libs/
FileExplorer/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/res/
FileExplorer/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/aidl/
FileExplorer/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/assets/
FileExplorer/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/jni/
FileExplorer/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/libs/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/assets/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/jni/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/libs/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/res/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/aidl/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/assets/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/jni/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/libs/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/res/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/aidl/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/assets/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/jni/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/libs/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/res/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/aidl/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/assets/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/jni/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/libs/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/res/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/assets/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/jni/
Would
remove FileExplorer/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/libs/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/res/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/aidl/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/assets/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/jni/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/libs/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/res/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/aidl/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/assets/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/jni/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/libs/
FileExplorer/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/res/
FileExplorer/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
FileExplorer/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
FileExplorer/build/intermediates/incremental/mergeDebugResources/aapt-temp/
FileExplorer/build/intermediates/incremental/mergeDebugResources/merged.dir/
FileExplorer/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
FileExplorer/build/intermediates/incremental/mergeReleaseResources/merged.dir/
FileExplorer/build/intermediates/incremental/packageDebugAndroidTest/
FileExplorer/build/intermediates/incremental/packageDebugResources/aapt-temp/
FileExplorer/build/intermediates/incremental/packageDebugResources/merged.dir/
FileExplorer/build/intermediates/incremental/packageReleaseResources/aapt-temp/
FileExplorer/build/intermediates/incremental/packageReleaseResources/merged.dir/
FileExplorer/build/intermediates/incremental/processDebugAndroidTestResources/
FileExplorer/build/intermediates/incremental/processDebugResources/
FileExplorer/build/intermediates/incremental/processReleaseResources/
FileExplorer/build/intermediates/jniLibs/
FileExplorer/build/intermediates/lint/
FileExplorer/build/intermediates/manifest/tmp/
FileExplorer/build/intermediates/rs/
FileExplorer/build/intermediates/shaders/
FileExplorer/build/intermediates/transforms/
FileExplorer/build/tmp/
